<a href="https://colab.research.google.com/github/dilaraesmer/FreeCodeCamp/blob/main/pandas_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [86]:
import pandas as pd
import numpy as np

Pandas Series

In [87]:
gl_pop = pd.Series([35.467, 63.951, 80.940, 60.665, 127.061, 64.511, 318.523])

In [51]:
gl_pop

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
dtype: float64

In [52]:
gl_pop.dtype

dtype('float64')

In [53]:
gl_pop.values

array([ 35.467,  63.951,  80.94 ,  60.665, 127.061,  64.511, 318.523])

In [54]:
type(gl_pop.values)

numpy.ndarray

In [55]:
gl_pop[0]

35.467

In [56]:
gl_pop[1]

63.951

In [31]:
gl_pop.index

RangeIndex(start=0, stop=7, step=1)

In [57]:
l = ['a', 'b', 'c']

In [35]:
gl_pop.index = [
    'Canada',
    'France',
    'Germany',
    'Italy',
    'Japon',
    'United Kingdom',
    'United States'
]

In [36]:
gl_pop

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japon             127.061
United Kingdom     64.511
United States     318.523
dtype: float64

In [38]:
pd.Series({
    'Canada' : 35.467,
    'France' : 63.951,
    'Germany' : 80.940,
    'Italy' : 60.665,
    'Japon' : 127.061,
    'United Kingdom' : 64.511,
    'United States' : 318.523
}, name = '67 Population in millions')

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japon             127.061
United Kingdom     64.511
United States     318.523
Name: 67 Population in millions, dtype: float64

In [39]:
pd.Series(
    [35.467, 63.951, 80.940, 60.665, 127.061, 64.511, 318.523],
     index = ['Canada','France','Germany','Italy','Japon','United Kingdom',
              'United States'],
        name = '67 Population in millions'
    
)

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japon             127.061
United Kingdom     64.511
United States     318.523
Name: 67 Population in millions, dtype: float64

In [40]:
pd.Series(gl_pop, index = ['France','Germany','Italy','Spain'])

France     63.951
Germany    80.940
Italy      60.665
Spain         NaN
dtype: float64

Indexing

In [41]:
gl_pop['Canada']

35.467

In [42]:
gl_pop[['Japon', 'Germany']]

Japon      127.061
Germany     80.940
dtype: float64

In [45]:
gl_pop[['Japon', 'France', 'Italy']]

Japon     127.061
France     63.951
Italy      60.665
dtype: float64

In [46]:
gl_pop.iloc[0]

35.467

In [47]:
gl_pop.iloc[-1]

318.523

In [48]:
gl_pop.iloc[[0,1]]

Canada    35.467
France    63.951
dtype: float64

Conditional Selection (Boolean Arrays)

In [60]:
gl_pop

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
dtype: float64

In [61]:
gl_pop > 70

0    False
1    False
2     True
3    False
4     True
5    False
6     True
dtype: bool

In [62]:
gl_pop[gl_pop > 70]

2     80.940
4    127.061
6    318.523
dtype: float64

In [63]:
gl_pop.mean()

107.30257142857144

In [64]:
gl_pop[gl_pop > gl_pop.mean()]

4    127.061
6    318.523
dtype: float64

In [65]:
gl_pop.std()

97.24996987121581

~ not

| or


& and

In [66]:
gl_pop[(gl_pop > gl_pop.mean() - gl_pop.std() / 2) | (gl_pop > gl_pop.mean() + gl_pop.std() / 2)]

1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
dtype: float64

Operations and Methods

In [67]:
gl_pop

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
dtype: float64

In [68]:
gl_pop * 1_000_000

0     35467000.0
1     63951000.0
2     80940000.0
3     60665000.0
4    127061000.0
5     64511000.0
6    318523000.0
dtype: float64

In [69]:
gl_pop.mean()

107.30257142857144

In [71]:
np.log(gl_pop)

0    3.568603
1    4.158117
2    4.393708
3    4.105367
4    4.844667
5    4.166836
6    5.763695
dtype: float64

Boolean Arrays

In [73]:
gl_pop

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
dtype: float64

In [74]:
gl_pop > 80

0    False
1    False
2     True
3    False
4     True
5    False
6     True
dtype: bool

In [75]:
gl_pop[gl_pop > 80]

2     80.940
4    127.061
6    318.523
dtype: float64

In [76]:
gl_pop[(gl_pop > 80) | (gl_pop < 40)]

0     35.467
2     80.940
4    127.061
6    318.523
dtype: float64

In [78]:
gl_pop[(gl_pop > 80) & (gl_pop < 200)]

2     80.940
4    127.061
dtype: float64

Modifying Series

In [79]:
gl_pop['Canada'] = 40.5

In [80]:
gl_pop

0          35.467
1          63.951
2          80.940
3          60.665
4         127.061
5          64.511
6         318.523
Canada     40.500
dtype: float64

In [82]:
gl_pop.iloc[-1] = 500

In [83]:
gl_pop

0          35.467
1          63.951
2          80.940
3          60.665
4         127.061
5          64.511
6         318.523
Canada    500.000
dtype: float64

In [84]:
gl_pop[gl_pop > 70] = 99.99

In [85]:
gl_pop

0         35.467
1         63.951
2         99.990
3         60.665
4         99.990
5         64.511
6         99.990
Canada    99.990
dtype: float64

Sleep iOS App Data

In [90]:
df = pd.read_csv('sleepdata.csv', sep=';')

In [91]:
df

,Start,End,Sleep quality,Time in bed,Wake up,Sleep Notes,Heart rate,Activity (steps)
0,2014-12-29 22:57:49,2014-12-30 07:30:13,100%,8:32,:),NaN,59.0,0
1,2014-12-30 21:17:50,2014-12-30 21:33:54,3%,0:16,:|,Stressful day,72.0,0
2,2014-12-30 22:42:49,2014-12-31 07:13:31,98%,8:30,:|,NaN,57.0,0
3,2014-12-31 22:31:01,2015-01-01 06:03:01,65%,7:32,NaN,NaN,NaN,0
4,2015-01-01 22:12:10,2015-01-02 04:56:35,72%,6:44,:),Drank coffee:Drank tea,68.0,0
...,...,...,...,...,...,...,...,...
882,2018-02-12 21:54:14,2018-02-13 07:02:15,91%,9:08,NaN,NaN,NaN,56
883,2018-02-13 23:49:19,2018-02-14 07:00:53,81%,7:11,NaN,NaN,NaN,64
884,2018-02-14 21:24:05,2018-02-15 06:20:52,71%,8:56,NaN,NaN,NaN,3316
885,2018-02-15 21:36:32,2018-02-16 06:50:31,80%,9:13,NaN,NaN,NaN,6555
886,2018-02-16 22:52:29,2018-02-17 07:48:04,91%,8:55,NaN,NaN,NaN,2291

In [92]:
df.columns

Index(['Start', 'End', 'Sleep quality', 'Time in bed', 'Wake up',
       'Sleep Notes', 'Heart rate', 'Activity (steps)'],
      dtype='object')

In [93]:
df.index

RangeIndex(start=0, stop=887, step=1)

In [94]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887 entries, 0 to 886
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Start             887 non-null    object
 1   End               887 non-null    object
 2   Sleep quality     887 non-null    object
 3   Time in bed       887 non-null    object
 4   Wake up           246 non-null    object
 5   Sleep Notes       652 non-null    object
 6   Heart rate        162 non-null    float64
 7   Activity (steps)  887 non-null    int64
dtypes: float64(1), int64(1), object(6)
memory usage: 55.6+ KB

In [95]:
df.size

7096

In [97]:
df.shape

(887, 8)

In [98]:
df.describe()

       Heart rate  Activity (steps)
count  162.000000        887.000000
mean    60.604938       2776.378805
std      7.102933       3486.482157
min     49.000000          0.000000
25%     57.000000          0.000000
50%     60.000000        255.000000
75%     64.000000       5317.000000
max     98.000000      21870.000000

In [99]:
df.dtypes

Start                object
End                  object
Sleep quality        object
Time in bed          object
Wake up              object
Sleep Notes          object
Heart rate          float64
Activity (steps)      int64
dtype: object